.section-account {
  padding: 12.8rem 0;
  background-color: rgba(32, 32, 32, 0.75);
}

.container-inner {
  background-color: #fff;
  display: grid;
  grid-template-columns: auto 1fr;
}

/* SIDEBAR */

.sidebar {
  min-width: 25.6rem;
  padding: 6.4rem 1.6rem;
  border-right: 1px solid rgb(32, 32, 32, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-nav-list {
  width: 100%;
  list-style: none;
  font-size: 1.95rem;
  line-break: 170%;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.account-mobile-nav-link {
  color: #000;
  font-size: 2.6rem;
  line-height: 150%;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}

.account-mobile-nav-link:hover {
  background-color: #eae545;
}

.account-nav-link:link,
.account-nav-link:visited {
  color: #202020;
  text-decoration: none;
  transition: all 0.3s;
}

.account-nav-link:hover,
.account-nav-link:active {
  color: rgba(32, 32, 32, 0.75);
}

/* MAIN */

.main {
  padding: 6.4rem;
}

.account-section,
.add-event-section,
.events-section,
.applications-section {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.heading-secondary {
  font-size: 4.62rem;
  line-height: 140%;
  font-weight: 400;
  text-transform: uppercase;
}

.settings-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.heading-tertiary {
  font-size: 1.95rem;
  font-weight: 400;
  line-height: 170%;
  text-transform: uppercase;
}

/* .form-settings {
} */

.controls {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 6.4rem;
  font-size: 1.95rem;
  line-height: 170%;
}

.label {
  display: block;
  margin-bottom: 1.6rem;
}

.control-text {
  height: 6.4rem;
  width: 100%;
  padding: 0 1.6rem;
  background-color: rgba(32, 32, 32, 0.05);
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.control-file {
  padding: 0.8rem 1.6rem;
  background-color: #fff;
  border: 1px solid #202020;
  font-size: 1.46rem;
  cursor: pointer;
}

.btn--settings {
  padding: 1.6rem 3.2rem;
}

/* QUERIES */

@media (max-width: 75em) {
  .container-inner {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }

  .btn--settings {
    width: 100%;
  }
}

@media (max-width: 38.75em) {
  .container {
    padding: 0 1.6rem;
  }
  .main {
    padding: 3.2rem;
  }
  .heading-secondary {
    font-size: 2.6rem;
    line-height: 150%;
  }
}

/* ADD EVENT SECTION */

.control-tag-box {
  font-size: 1.46rem;
  line-height: 170%;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 6.4rem;
}

.dropdown {
  display: inline-block;
  height: 4rem;
  font-size: 1.46rem;
  line-height: 170%;
  font-family: inherit;

  background-color: #fff;
  padding: 0.8rem 1.6rem;
  border: 1px solid #202020;
  margin-right: 1.6rem;
  cursor: pointer;
}

.btn-dropdown {
  border: none;
  background: none;
  font-size: 1.46rem;
  line-height: 170%;
  font-family: inherit;
  cursor: pointer;
}

.tag-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.6rem;
}

.tag {
  height: 4rem;
  padding: 0.8rem 1.6rem;
  border-radius: 100px;
  border: 1px solid #202020;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  cursor: pointer;
}

.tag-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.tag--disabled {
  color: rgba(32, 32, 32, 0.5);
  border-color: rgba(32, 32, 32, 0.5);
}
.tag--disabled .tag-icon {
  color: rgba(32, 32, 32, 0.5);
}

.control-textarea {
  height: 25.6rem;
  width: 100%;
  padding: 1.6rem;
  background-color: rgba(32, 32, 32, 0.05);
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.radio-box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.radio-label {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  cursor: pointer;
}

.radio-btn {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  border: 2px solid #202020;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-btn::after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: #202020;
  border-radius: 100%;
  opacity: 0;
}

.radio-input:checked ~ .radio-btn::after {
  opacity: 1;
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn--delete {
  font-family: inherit;
  padding: 1.6rem 3.2rem;
  color: #c5515c;
  border-color: #c5515c;
}

.btn--delete:hover {
  color: #fff;
  background-color: #c5515c;
}

@media (max-width: 52em) {
  .control-tag-box {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }
}

/* APPLICATIONS SECTION */

.applications-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

/* Sorunlu! Bu kısım düzeltilecek... */
.table {
  max-width: 752px;
  padding-bottom: 3.2rem;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.thead,
.tbody {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  column-gap: 3.2rem;
  row-gap: 1.6rem;
}

.th {
  font-size: 1.95rem;
  line-height: 170%;
  border-bottom: 1px solid #202020;
}

.td {
  font-size: 1.46rem;
  line-height: 170%;
}

@media (max-width: 60em) {
  /* geçici çözüm */
  .table {
    max-width: 40rem;
  }
}
@media (max-width: 40em) {
  .table {
    max-width: 20rem;
  }
}
